/*Make sure to add flex.html to the end of the link*/
/*Step 1*/
/*Logo animation steps*/
@keyframes logosize {
    from {width: 25px;}
    to {width: 475px;}
    from {opacity: 0;}
    to {opacity: 1;}
}

/*Logo animation*/
#logo{
    animation: logosize 5s;
}

/*Step 2*/
/*Font family, background color, and background image*/
body{
    font-family: "Poppins", serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

/*Step 3*/
/*Centers the company name at the top of the page*/
header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*Step 4*/
/*Centers the links to the other pages*/
.nav_links{
    display: flex;
    flex-direction: column;
}

/*Step 5*/
/*Prevents the color from changing when website are visted by user*/
a:visited{
    color: blue;
}

/*Step 6*/
/*Sets the background color and format of the cards. Also rounds the top corners*/
.card > header{
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0 20px 0;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

/*Step 7*/
/*Rounds the corner of the card background and sets the width*/
.card{
    width: 450px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

/*Step 8*/
/*Set the format so the pricing cards are on top of each other in a column*/
.pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Step 9*/
/*Formats the pictures into two columns*/
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

/*Gives the images borders and sets space in between them*/
.gallery > img{
    border: solid 10px #50C7C7;
    width: 300px;
    margin: 10px;
}

/*Styling for screen greater than 900px in width*/
@media (min-width:900px){
    /*Step 11*/
    /*Changes the header to have the company logo as far left as possible*/
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /*Has the links be as far right as possible*/
    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /*Step 12*/
    /*Pricing cards are in a row and centered*/
    .pricing{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    /*Sets teh card width to 275px*/
    .card{
        flex-basis: 275px;
    }
    
    /*Step 13*/
    /*Has the header be at the top of the page even if the user scrolls down*/
    body > header:first-child{
        position:fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    /*Pushes the title down below the header*/
    h1{
        margin-top: 8%;
    }
}

/*Step 14*/
/*Prevetns animation if the user has reduce motion turned on*/
@media (prefers-reduced-motion: reduce){
    #logo{
        animation: none;
    }
}

/*Styling for print format*/
@media print{
    /*Changes the font-family and gets rid of background image*/
    body{
        /*Step 15*/
        font-family: Arial, Helvetica;
        /*Step 16*/
        background-image: none;
    }

    /*Step 17*/
    /*The links are spread out across the entire width of the page*/
    nav{
        width: 100%;
    }

    /*The links are in a row with space inbetween them*/
    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    /*Step 18*/
    /*The pricing cards are in spread out in a row across the width of the page*/
    .pricing{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
    }

    /*Step 19*/
    /*The cards have a border and are 325px wide*/
    .card{
        border: solid 2px #45ADDD;
        flex-basis: 325px;
    }

    /*Step 20*/
    /*Centers the company name on the top of the page*/
    header{
        display: flex;
        flex-direction: column;
    }

    /*Removes the gallery title*/
    #gallery{
        display: none;
    }

    /*Removes the gallery images*/
    .gallery{
        display: none;
    }

    /*Sets the button width to the width of the sentence*/
    .card button{
        width: auto;
    }

    /*Step 21*/
    /*Puts thumbs up as the second list point of the pricing cards*/
    .card > ul > li:nth-child(2)::after{
        content: "\01F44D";
    }
}
